<!DOCTYPE <html>
<h<head>
    <title>Random API</title>
    <meta name="description" content="description"/>
    <meta name="author" content="author" />
    <meta name="keywords" content="keywords" />  
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style type="text/css">.body { width: auto; }</style>  
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=font1|font2|etc"    type="text/css"/>
    <link rel="stylesheet" href="/static/stylesheet.css" type="text/css" />
     <script src="script.js"></script>

    
  </head>
  <body>
    <section class="container">
      <div class="heading">
          <img class="heading_img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/756881/laptop.svg" alt="Image">
          <h1 class="heading_title"<p id="date-time"></p>Relax your mind, Refresh & Recharge ~ Enjoy  </h1>
        
      </div>
     <View class="view">
      <div class="View">
        <h3>Funny Clips</h3>
          <p>{{events}}</p>

        <h3>Random Facts</h3>
         <p>{{activity}}</p>

        <h3>Bibilical Truths</h3>
         <p><{{activity}}</p>
       </div>
    </section>
   
    <script>
      function handleClick(event) {
        alert('App has been Refreshed!');
      }
    </script>
    <button class="button" onclick="locatio.reload()" onclick="handleClick(event)"><span>View More..</span></button>
  </body>